<div class="hero-image">
    <form method="POST" action="/user/login" class="form">
        <div>
            {{#if errorMessages.invalidMail}}
                <div class="tooltip">
                    <span class="material-icons">error</span>
                    <span class="tooltiptext">{{errorMessages.invalidMail}}</span>
                </div>
            {{/if}}
            <input type="text" name="email" placeholder="Email Address" value={{userData.email}}>
        </div>
        <div>
            {{#if errorMessages.invalidPassword}}
                <div class="tooltip">
                    <span class="material-icons">error</span>
                    <span class="tooltiptext">{{errorMessages.invalidPassword}}</span>
                </div>
            {{/if}}
            <input type="password" name="password" placeholder="password">
        </div>
        {{#if errorMessages.authenticationErrors}}
            <div class="tooltip">{{errorMessages.authenticationErrors}}</div>
        {{/if}}
        <input type="submit" value="Sign In" class="button">
    </form>
</div>
